.count{
color: #999;
font-weight: normal;

}
.count a{

color: #21759B;
text-decoration: none;
}

.submit input, .button, input.button, .button-primary, input.button-primary, .button-secondary, input.button-secondary, .button-highlighted, input.button-highlighted, #postcustomstuff .submit input {
    -moz-box-sizing: content-box;
    border-radius: 11px 11px 11px 11px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    font-size: 12px !important;
    line-height: 13px;
    padding: 3px 8px;
    text-decoration: none;
}
.success_msg{
color: green;
}
.error_msg{
color: red;

}

.icon_flip{

background: url("img/flip.png") no-repeat scroll 0 0 transparent;
padding-top:3px;
background-size:50px 50px;
}
.icon_flip h2{
margin-left:66px;
height:43px;

width:316px;

}

.span_class{
padding-top:30px;
}

table.widefat tr td {

text-align:left;
}


#tabs {
	margin:0;
	padding: 0;
	border-bottom: .1em solid #eee;float:left;width:100%;
}
#tabs li { 
	/*display:inline; 
	border-top: .1em solid #eee;
	border-left: .1em solid #eee;
	border-right: .1em solid #eee;*/
	line-height: 19px;margin:0 5px 0 0;float:left;height: 21px;
}
#tabs li a {
	text-decoration: none;
	padding: 0.25em 1em;
	color: #000;
	font-size:15px;
	border-top: .1em solid #eee;
	border-left: .1em solid #eee;
	border-right: .1em solid #eee;border-radius: 4px 4px 0 0;
}
#page1 #tabs li#tab1 a, #page2 #tabs li#tab2 a {
	/*padding: 0.25em 1em;*/
	background-color: #fff;
	color: #000;
	border-bottom: .1em solid #fff;
	/*border-top: .1em solid #eee;*/
}
table.widefat th{font-weight:bold}
#page1 #tabs li#tab1 a,#page2 #tabs li#tab2 a{color:#464646;}
#page1 #tabs li#tab2 a,#page2 #tabs li#tab1 a{color:#aaa}
.txt{ float:left;}
.wdthtxt{float:left; width:300px;}
.wdth{ float:left;width:407px;}


